@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.img {
    width: 350px;
    height: 350px;
    padding: 30px;
}

.title {
    font-size: 1rem;
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    text-align: center;
    margin-top: 0.5rem;
}