* {
    margin: 0;
    padding: 0;
}


.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    place-content: center;
 background-size: cover;/* contain */
 background-position: center;
 background-image: url('https://www.teahub.io/photos/full/58-588386_marvel-wallpaper-for-laptop.jpg');
}

.carousel {
    width: 80%;
    margin-top: 20px;
}
